<nav class="pa3 pa4-ns">
  <a class="link dim black b f1 f-headline-ns tc db mb3 mb4-ns" href="{{site.url}}/" title="Home">{{site.name}}</a>
  <div class="tc pb3">
    <a class="f6 link dim br3 ba ph3 pv2 mb2 dib dark-green" href="{{site.url}}/" title="Home">Home</a>
    <a class="f6 link dim br3 ba ph3 pv2 mb2 dib dark-green" href="{{site.url}}/about" title="About">About</a>
    <a class="f6 link dim br3 ba ph3 pv2 mb2 dib dark-green" href="{{site.url}}/jobs" title="Jobs">Jobs</a>
  </div>
</nav>
