<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}
<body>
  {% include _header.html %}
  <body class="bg-light-yellow sans-serif">
    <!-- This is where the title: in your front matter gets dropped in.-->
    <h1 class="f4 bg-near-black mv0 pv2 ph3">
        <a class="fw7 dib no-underline light-yellow" href="{{ job.url }}"  title="{{job.job-title}}">{{job.employer}} | {{ job.job-title }}</a>
    </h1>
    <!-- This is where post content lives -->
    <date class="f6 db gray" datetime="{{job.posted-date}}">
      {{ job.posted-date | date_to_long_string }}
      <p>{{job.description}}

      {{content}}

    <!-- end of post content -->
  </article>
  {% include _footer.html %}
</body>
</html>
