<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}
<body class="bg-light-yellow sans-serif">
  {% include _header.html %}
  <h1>{{page.job-title}}, {{page.employer}}</h1>

  <div class="mw9 center ph3-ns">
  <div class="cf ph2-ns">
    <div class="fl w-100 w-third-ns pa2">
      <div class="outline bg-white pv4"></div>
    </div>
    <div class="fl w-50 w-third-ns pa2">
      <div class="outline bg-white pv4">
      {{content}}
      </div>
    </div>
    <div class="fl w-50 w-third-ns pa2">
      <div class="outline bg-white pv4">
        <p>Salary: {{page.salary}}</p>
        <p>Closing date: {{page.closing-date}}</p>
        <p>Contract type: {{page.contract-type}}</p>
        <p>Link: {{page.application-link}}</p>
        <h2>Contact details</h2>
        <ul class="list">
          <li><i class='fa fa-user'></i> {{page.contact-name}}
          <li><i class='fa fa-envelope'></i> {{page.contact-email}}
          <li><i class='fa fa-phone'></i> {{page.contact-phone}}
          <li><i class='fa fa-globe'></i> {{page.contact-website}}
        </ul>
      </div>
    </div>
  </div>
</div>
  </div>
  {% include _footer.html %}
</body>
</html>
