<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}
<body class="bg-light-yellow sans-serif">
  {% include _header.html %}
  <div class="mw9 center ph3-ns">
    <div class="cf ph2-ns">
      <div class="fl w-100 w-70-ns pa2">
        <div class="bg-light-yellow pv2p ph2">
          <h1>{{page.job-title}}, {{page.employer}}</h1>
          <p>{{content}}</p>
        </div>
      </div>

      <div class="fl w-100 w-30-ns pa2">
        <div class="outline bg-light-yellow pv2 ph2">
          <h2>Job information</h2>
          <table>
            <tr>
              <th align="left">Salary</th>
              <td>{{page.salary}}</td>
            </tr>
            <tr>
              <th align="left">Closing date</th>
              <td>{{page.closing-date}}</td>
            </tr>
            <tr>
              <th align="left">Contract type</th>
              <td>{{page.contract-type}}</td>
            </tr>
            <tr>
              <th align="left">Link</th>
              <td>{{page.application-link}}</td>
            </tr>
          </table>
          <h2>Contact details</h2>
          <table>
            <tr>
              <th><i class='fa fa-user'></i></th>
              <td>{{page.contact-name}}</td>
            </tr>
            <tr>
              <th><i class='fa fa-envelope'></i></th>
              <td>{{page.contact-email}}</td>
            </tr>
            <tr>
              <th><i class='fa fa-phone'></i></th>
              <td>{{page.contact-phone}}</td>
            </tr>
            <tr>
              <th><i class='fa fa-globe'></i></th>
              <td>{{page.contact-website}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% include _footer.html %}
</body>
</html>
